/*
/*/

*.log

!/.gitignore
!/README.md
!/FAQ.md
/FAQ.html
!/LICENSE.md
!/docker/
/docker/addfolder/
!/BiasCorrector/
/BiasCorrector/rsconnect/
!/BiasCorrector/app/
.Rproj.user
*.Rproj
.RData
.Rhistory
