*.Rproj
.Rproj.user
.Rhistory
/*
/*/
*.log
!/.gitignore
!/.Rbuildignore
!/.gitlab-ci.yml
!/data-raw/
!/DESCRIPTION
!/inst/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/docker/
!/README.md
!/tests/
/.Rhistory
!/*.Rproj
/.Rproj*
/.RData
/.vscode
!/.lintr
!/.github/
!/tic.R
!/NEWS.md
